.heart-machine {
    margin: 0 0 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    user-select: none;
}

.heart {
    width: 100px;
    cursor: grab;
}

@keyframes wiggle {
    0% {
        transform: translateY(0px)
    }

    17% {
        transform: translateY(-2px)
    }

    50% {
        transform: translateY(2px)
    }

    83% {
        transform: translateY(-1px)
    }

    100% {
        transform: translateY(0px)
    }
}

@media screen and (max-width: 768px) {

    .drum-machine-wrapper {
        grid-template-columns: repeat(3, 72px);
        grid-gap: 12px;
      }

      .drum-machine-item {
        width: 72px;
        height: 72px;
        background-color: var(--blue03);
      }

      .drum-machine-item svg, .drum-machine-item-glyph {
        margin: 0;
      }

      .drum-machine-item-key {
        display: none;
    }

}