:root {
    --iron: rgb(102,93,89);
    --ironore: rgba(71,71,69);
    --pangeaRGB: 255,182,125;
    --pangea: rgba(var(--pangeaRGB));
    --pangea12: rgba(var(--pangeaRGB), 0.12);
    --tan: rgba(194, 187, 171, 1);
    --cyanRGB: 54, 206, 255;
    --cyan: rgba(var(--cyanRGB));
    --cyan12: rgba(var(--cyanRGB), 0.12);
    --moondust: rgba(213, 215, 207, 1);
    --nordo: rgba(246, 246, 242,1);

    --eigengrau: 22,22,29;
    --whiter: 255,255,255;
    --black: rgba(var(--eigengrau));
    --gray87: rgba(var(--eigengrau), 0.87);
    --gray54: rgba(var(--eigengrau), 0.54);
    --gray38: rgba(var(--eigengrau), 0.38);
    --gray12: rgba(var(--eigengrau), 0.12);
    --gray03: rgba(var(--eigengrau), 0.03);
    --gray01: rgba(var(--eigengrau), 0.01);
    --tealRGB: 0, 255, 200;
    --teal: rgba(var(--tealRGB));
    --teal03: rgba(var(--tealRGB), .03);
    --teal12: rgba(var(--tealRGB), .12);
    --teal38: rgba(var(--tealRGB), .38);
    --teal54: rgba(var(--tealRGB), .54);
    --teal87: rgba(var(--tealRGB), .87);
    --blueRGB: 0, 133, 255;
    --blue: rgba(var(--blueRGB));
    --blue03: rgba(var(--blueRGB), .03);
    --blue12: rgba(var(--blueRGB), .12);
    --blue38: rgba(var(--blueRGB), .38);
    --blue54: rgba(var(--blueRGB), .54);
    --yellow: #f9ec4d;
    --orange: rgb(229, 82, 66);
    --red: rgba(252, 92, 84, 1);
    --white: rgba(var(--whiter));
    --white100: rgba(var(--whiter));
    --white87: rgba(var(--whiter), 0.87);
    --white54: rgba(var(--whiter), 0.54);
    --white38: rgba(var(--whiter), 0.38);
    --white12: rgba(var(--whiter), 0.12);
    --reading: inherit;
    --body: inherit;
    --fontstack: 'Inter', -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu, roboto, arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --serifstack: 'Lora', serif;
    --codestack: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
  
html {
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--teal);
}
  
body {
  font-family: var(--fontstack);
  font-size: var(--body);
  text-rendering: optimizeLegibility;
  color: var(--iron);
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  line-height: 1.5;
  transition: background-color .1s, margin 0.3s cubic-bezier(0.32, 0.72, 0, 1), border-radius 0.3s cubic-bezier(0.32, 0.72, 0, 1);  
}
  
body * {
  transition: background-color .1s, color .1s;
}
  
h1, h2 {
  margin-bottom: 2em;
  font-weight: 500;
  color: var(--ironore);
}
  
h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  color: var(--cyan);
  margin-bottom: 1rem;
  font-family: var(--codestack);
}
  
h5 {
  margin-bottom: 1rem;
}
  
p, ol {
  margin-bottom: 2rem;
}

.dust {
  color: var(--moondust);
}

.whispers {
  color: var(--tan);
  display: inline;
}

.whispers:hover {
  color: var(--teal);
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤔</text></svg>") 6 6,auto; /*!emojicursor.app*/
}

code {
  font-family: var(--codestack);
}

em {
  font-weight: 600;
}

a {
  color: var(--pangea);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: var(--pangea12);
  cursor: pointer;
}
  
a i {
  margin: 0 0 0 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  vertical-align: middle;
}
  
abbr {
  font-size: .96em;
  letter-spacing: 1px;
}
  
i {
  font-family: var(--fontstack);
}

i.ital {
  font-family: var(--serifstack);
  font-style: italic;
}
  
ol {
  padding-left: 1em;
}
  
ol li {
  padding: 0 0 .5rem;
  list-style: disc;
}

ol li:last-child {
  padding-bottom: 0;
}
  
.btn, input[type=submit], button {
    background-color: var(--pangea);
    padding: 1rem 1.5rem .8rem;
    border-radius: 4px;
    text-decoration: none;
    color: var(--ironore);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    transition: background-color .04s, color .07s;
    cursor: pointer;
    user-select: none;
    border: none;
    line-height: 1.5;
}

.btn.close {
  background-color: var(--pangea12);
}

.btn.close i {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: -4px;
}
  
.btn .hotkey {
    display: inline-block;
    padding: 0 4px;
    border: solid 1px var(--gray12);
    font-family: var(--codestack);
    border-radius: 4px;
    color: var(--gray54);
    font-size: .8em;
}
  
.btn:hover {
    color: var(--ironore);
}

button[type=submit]:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>") 6 6,auto; /*!emojicursor.app*/
}
  
.btn:active {
    background-color: var(--pangea);
    color: var(--ironore);
}

input[type=text] {
  padding: 1rem 1rem .8rem;
  border-radius: 6px;
  box-shadow: 0 0 0 1px inset var(--gray12);
  line-height: 1.5;
  border: none;
  background-color: var(--gray03);
  color: var(--ironore);
}

input[type=text]::placeholder {
  color: var(--tan);
}

input[type=text]:focus {
  box-shadow: 0 0 0 2px var(--teal);
  outline: none;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0 0 1rem;
}

fieldset.error input[type=text] {
  box-shadow: 0 0 0 1px var(--red);
}

fieldset.error input[type=text]:focus {
  box-shadow: 0 0 0 2px var(--red);
}

fieldset.error .error {
  color: var(--red);
}

.page-wrapper {
  background: var(--white);
  transition: transform 0.5s ease-out, border-radius .5s ease-out;
  box-shadow: 0 0 32px var(--gray12);
  min-height: 100vh;
}
  
.page {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    padding: 2rem 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin: 0 -.5rem 2rem;
    align-items: center;
}

nav a {
  padding: .5rem;
  text-decoration: none;
  border-radius: 4px;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--blue12);
}

nav .switch {
  margin-left: auto;
}

header {
    padding: 0 0 4rem;
    display: flex;
    flex-direction: column;
}

header a {
  text-decoration: none;
  color: var(--ironore);
  font-weight: 600;
  font-size: 1.5rem;
}
  
header div {
    color: var(--tan);
}

.blackbird {
  width: 36px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.toolbar .tools {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.row [class^="col"] {
  flex: 1 1 auto;
}

section {
  margin: 0 0 4rem;
}

.designs {
  background: var(--gray01);
  box-shadow: 0 1px 0 inset var(--gray03), 0 -1px 0 inset var(--gray03);
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
  height: min-content;
  flex-wrap: nowrap;
  padding: 4rem calc(50vw - 350px);
  margin-bottom: 2rem;
  transform: translate(calc(350px - 50vw), 0);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* firefox */
  box-sizing: content-box;
  overflow-x: auto;
}

.designs::-webkit-scrollbar {
  display: none;
}

.designs img {
  max-height: 90vh;
  align-self: center;
}

.designs .gif {
  border-radius: 10px;
  border: 1px solid var(--gray12);
}

.pic, .pic::after {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
  
.pic {
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-property: background, color;
    transition-duration: .2s;
    position: relative;
    margin-bottom: 64px;
    display: inline-block;
}
  
.pic::after {
    content: '\2190';
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    display: block;
}
  
.pic.home::after {
    content: '';
}
  
.pic::after {
    color: var(--white);
    text-align: center;
    line-height: 96px;
    font-weight: 500;
    font-size: calc(var(--reading)*1.5625);
    cursor: pointer;
}
  
.pic:hover {
    background: var(--blue);
}
  
.pic:hover::after {
    opacity: 1;
}
  
.pic img {
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-property: opacity;
    transition-duration: .2s;
    display: block;
    border-radius: 50%;
    width: 100%;
}
  
.pic:hover img {
    opacity: 0;
}

footer {
  margin: 0 0 4rem;
}
  
footer ul {
    margin-bottom: 2rem;
}

footer ul li {
    padding: 0 0 1rem;
}

  img.blend {
    mix-blend-mode: darken;
}
  
  figure {
    padding: 3em 0;
    text-align: center;
}
  
  figure figcaption {
    color: var(--gray38);
    padding: var(--reading) 0;
    border-radius: 4px;
    max-width: 448px;
    margin: 0 auto;
}
  
  figure img {
    display: inline-block;
    border-radius: 4px;
    max-height: 100vh;
    border: 1px solid rgba(var(--eigengrau), 0.03);
}
  
  figure.research img {
    max-width: 640px;
}
  
  figure.screen img, figure.research img {
    border: none;
}
  
.hidden {
    display: none !important;
}