.col-center {
    align-content: center;
}

.mini-preview-anchor {
    position: relative;
    display: inline;
}

.alt-preview {
    cursor: alias;
}

.mini-preview-wrapper {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    box-shadow: 0px 0px 16px var(--gray38);
    border-radius: 10px;
    transform: rotate(-3deg) scale(.1);
    transition: opacity .15s, transform ease-out .15s;
    transform-origin: 0 0;
}

.multi-preview .mini-preview-wrapper:nth-child(3) {
}

.multi-preview .mini-preview-wrapper:nth-child(2) {
    transition-delay: .1s;
}
.multi-preview .mini-preview-wrapper:nth-child(1) {
    transition-delay: .15s;
}

.mini-preview-anchor:hover .mini-preview-wrapper {
    z-index: 2;
    opacity: 1;
    transform: rotate(3deg) scale(1);
}

.mini-preview-loading, .mini-preview-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
}

.mini-preview-loading img, .mini-preview-loading video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mini-preview-loading video {
    width: 120%;
    height: 148%;
    margin-left: -10px;
}

.mini-preview-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--gray38);
    background-color: var(--teal);
    font-size: 1rem;
}

.mini-preview-anchor:not(.alt-preview,.multi-preview) .mini-preview-loading::before {
    content: 'Loading...';
}

.alt-preview .mini-preview-wrapper {
    width: 220px;
    height: 100px;
}

.multi-preview .mini-preview-wrapper {
    width: 220px;
    height: 120px;
}

.multi-preview img.mini-preview-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 120px;
}

.mini-preview-frame {
    border: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.mini-preview-wrapper.scary {
    box-shadow: none;
    overflow: visible;
}

.mini-preview-wrapper.scary .mini-preview-loading {
    font-family: var(--scarystack);
    font-size: 3rem;
    line-height: 3rem;
    background: transparent;
    color: var(--red);
}

.mini-preview-wrapper.craft .mini-preview-loading {
    background: var(--ironore);
    color: var(--white);
}
