/* @styles */

@import "reset.css";

@font-face {
  font-family: 'Baewatch';
  src: url('BaewatchRegular.woff2') format('woff2'),
      url('BaewatchRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --eigengrau: 22,22,29;
  --black: rgba(var(--eigengrau));
  --gray: rgba(var(--eigengrau), 0.54);
  --ltgray: rgba(var(--eigengrau), 0.38);
  --ltrgray: rgba(var(--eigengrau), 0.03);
  --teal: #00ffcb;
  --blue: #0085ff;
  --yellow: #fbff44;
  --white: #fff;
  --reading: 16px;
  --body: 14px;
  --fontstack: -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu, roboto, arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --displaystack: 'Baewatch';
}

body {
  font-family: var(--fontstack);
  font-size: var(--body);
  text-rendering: optimizeLegibility;
  color: var(--black);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr {
  font-size: .96em;
  letter-spacing: 1px;
}

.page {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 44px;
  gap: 33px;
}

nav {
  width: 168px;
  flex: 0 0 auto;
  padding: 11px 0 0;
}

nav li {
  padding: 0 0 13px 1px;
}

nav li.logo {
  padding-left: 0;
  padding-bottom: 33px;
}

nav li a {
  display: inline-block;
}

nav li.logo img {
  max-width: 100%;
  width: 99px;
  display: block;
}

nav .meta {
  padding: 33px 0;
  font-size: 13px;
  color: var(--gray);
}

.content {
  flex: 1 1 auto;
  width: 100%;
}

figure figcaption {
  font-size: 12px;
  color: var(--ltgray);
  padding: var(--reading) 0;
  border-radius: 4px;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

.portfolio figure {
  width: calc((100% - 99px)/4);
  max-width: 320px;
  min-width: 200px;
  position: relative;
}

.portfolio figure figcaption {
  position: absolute;
  bottom: 4px;
  left: 4px;
  border-radius: 3px;
  color: var(--white);
  background: var(--gray);
  padding: 3px;
}

.portfolio figure img, .use-case figure img {
  display: block;
  width: 100%;
  border-radius: 4px;
}

.use-case figure.detail {
  padding: calc(var(--reading)*8) 0;
}

.use-case figure.detail img {
  border-radius: 4px;
  position: relative;
}

.use-case figure.detail img::after {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 3px inset rgba(var(--eigengrau), 0.03);
  content: '';
}

.reading {
  max-width: 640px;
  margin: calc(var(--reading)*3) auto;
}

h1 {
  font-family: var(--displaystack);
  font-size: calc(var(--reading)*5);
  font-weight: 800;
  line-height: calc((var(--reading)*5)*1.52);
}

.logo a {
  font-family: var(--displaystack);
  font-size: calc(var(--reading)*3);
  line-height: calc((var(--reading)*3)*1.52);
  color: rgba(var(--black));
  text-decoration: none;
}

.logo a:hover {
  color: var(--blue);
}

.reading p, .under-construction p {
  font-size: var(--reading);
  line-height: calc(var(--reading)*1.52);
  margin: 0 0 var(--reading);
}

.under-construction {
  color: var(--ltgray);
  padding: calc(var(--body)*3) 0;
  border-radius: 4px;
  width: 100%;
}

em {
  font-family: var(--displaystack);
  font-size: calc(var(--reading)*1.52);
}

@media screen and (max-width: 768px) {

  .page {
    flex-direction: column;
    padding: 44px 0;
    align-items: center;
  }

  nav {
    padding: 33px 44px;
    text-align: center;
    width: auto;
  }

  .portfolio {
    justify-content: center;
  }

  .portfolio figure {
    width: calc((100% - 66px)/2);
  }

  .reading {
    padding: 0 44px;
  }

  .use-case figure img {
    border-radius: 0;
  }

  .reading .use-case figure img {
    border-radius: 4px;
  }

  .under-construction {
    padding: calc(var(--body)*3);
  }
  

}