/* @styles */

@import "reset.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu, roboto, arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  text-rendering: optimizeLegibility;
}