/* @styles */

@import "reset.css";

:root {
  --eigengrau: 22,22,29;
  --whiter: 250,250,250;
  --black: rgba(var(--eigengrau));
  --gray87: rgba(var(--eigengrau), 0.87);
  --gray54: rgba(var(--eigengrau), 0.54);
  --gray38: rgba(var(--eigengrau), 0.38);
  --gray12: rgba(var(--eigengrau), 0.12);
  --gray03: rgba(var(--eigengrau), 0.03);
  --teal: #00ffcb;
  --blueRGB: 0, 133, 255;
  --blue: rgba(var(--blueRGB));
  --blue12: rgba(var(--blueRGB), .12);
  --blue38: rgba(var(--blueRGB), .38);
  --yellow: #fbff44;
  --white: rgba(var(--whiter), 1);
  --white87: rgba(var(--whiter), 0.87);
  --white54: rgba(var(--whiter), 0.54);
  --white38: rgba(var(--whiter), 0.38);
  --reading: 16px;
  --body: 14px;
  --fontstack: 'Inter', -apple-system, BlinkMacSystemFont, segoe ui, Ubuntu, roboto, arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fontstack);
  font-size: var(--body);
  text-rendering: optimizeLegibility;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  padding: 40px;
  background: var(--gray03);
}

header, footer, .stuffs {
    max-width: 400px;
    margin: 0 auto;
}

header, footer {
    text-align: center;
}

h1, h2 {
  font-family: var(--fontstack);
  font-size: var(--reading);
  margin-bottom: var(--reading);
  font-weight: 500;
  line-height: calc((var(--reading)*1.52));
}

h3 {
  margin-bottom: var(--reading);
}

h3, p {
  line-height: calc((var(--reading)*1.52));
  margin-bottom: var(--reading);
}

a {
  color: var(--blue);
  display: inline-block;
  text-decoration-color: var(--blue12);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transition-property: text-decoration-color, color;
  transition-duration: .2s;
}

a i {
  margin: 0 0 0 4px;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration-color: var(--blue38);
  text-decoration-thickness: 2px;
}

p a {
  display: inline;
}

abbr {
  font-size: .96em;
  letter-spacing: 1px;
}

header {
  padding: 0 0 100px;
}

header p {
  color: var(--gray54);
}

footer {
  padding: 100px 0;
}

footer ul li {
  padding: 0 0 var(--reading);
}

.stuff {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--gray03);
    padding: 0 40px 40px;
}

.stuff h2 {
    margin-bottom: var(--reading);
}

.stuff p:last-of-type {
    margin-bottom: 0;
}

.stuff figure {
    text-align: center;
    margin-bottom: calc(var(--reading) / 4);
}

.stuff figure a {
    display: block;
}

.stuff figure a img {
    display: inline-block;
}

@media screen and (max-width: 768px) {



}